.contact-form11-contact11 {
  gap: var(--dl-layout-space-threeunits);
  height: 777px;
  display: flex;
  overflow: hidden;
  position: relative;
  padding-top: var(--dl-layout-space-halfunit);
  flex-direction: column;
}
 
.contact-form11-max-width {
  display: flex;
  flex-direction: column;
}
 
.contact-form11-row {
  width: 1024px;
  align-self: stretch;
  align-items: center;
  padding-left: 120px;
  padding-right: var(--dl-layout-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
 
.contact-form11-content1 {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
 
.contact-form11-icon1 {
  width: 32px;
  height: 32px;
}
 
.contact-form11-contact-info1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact-form11-text10 {
  font-family: "Poppins";
}
 
.contact-form11-email {
  text-align: center;
  font-family: "Poppins";
}
 
.contact-form11-content2 {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
 
.contact-form11-icon3 {
  width: 32px;
  height: 32px;
}
 
.contact-form11-contact-info2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact-form11-text11 {
  font-family: "Poppins";
}
 
.contact-form11-phone {
  text-align: center;
  font-family: "Poppins";
}
 
.contact-form11-content3 {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
 
.contact-form11-icon5 {
  width: 32px;
  height: 32px;
}
 
.contact-form11-contact-info3 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact-form11-text12 {
  font-family: "Poppins";
}
 
.contact-form11-address {
  text-align: center;
  font-family: "Poppins";
}
 
.contact-form11-content4 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.contact-form11-form {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact-form11-container {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.contact-form11-input1 {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form11-text13 {
  font-family: "Poppins";
}
 
.contact-form11-text-input1 {
  font-family: "Poppins";
}
 
.contact-form11-input2 {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form11-text14 {
  font-family: "Poppins";
}
 
.contact-form11-text-input2 {
  font-family: "Poppins";
}
 
.contact-form11-input3 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form11-text15 {
  font-family: "Poppins";
}
 
.contact-form11-text-input3 {
  font-family: "Poppins";
  background-color: var(--dl-color-theme-neutral-light);
}
 
.contact-form11-input4 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form11-text16 {
  font-family: "Poppins";
}
 
.contact-form11-textarea {
  text-align: center;
  font-family: "Poppins";
}
 
.contact-form11-action1 {
  font-family: "Poppins";
}
 
.contact-form11-fragment1 {
  display: contents;
}
 
.contact-form11-text17 {
  display: inline-block;
}
 
.contact-form11-fragment2 {
  display: contents;
}
 
.contact-form11-text18 {
  display: inline-block;
}
 
.contact-form11-fragment3 {
  display: contents;
}
 
.contact-form11-text19 {
  display: inline-block;
}
 
.contact-form11-fragment4 {
  display: contents;
}
 
.contact-form11-text20 {
  display: inline-block;
}
 
.contact-form11root-class-name {
  position: static;
  margin-top: var(--dl-layout-space-twounits);
  padding-top: var(--dl-layout-space-threeunits);
  background-color: #ffffff;
}
 
@media(max-width: 991px) {
  .contact-form11-content1 {
    width: 50%;
  }
  .contact-form11-content2 {
    width: 50%;
  }
  .contact-form11-content3 {
    width: 50%;
  }
  .contact-form11-form {
    width: 50%;
  }
}
 
@media(max-width: 767px) {
  .contact-form11-container {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .contact-form11-row {
    flex-direction: column;
  }
  .contact-form11-content1 {
    width: 100%;
  }
  .contact-form11-content2 {
    width: 100%;
  }
  .contact-form11-content3 {
    width: 100%;
  }
  .contact-form11-content4 {
    flex-direction: column;
  }
  .contact-form11-form {
    width: 100%;
  }
}
