.cta2613-container1 {
  height: 563px;
  padding-bottom: 42px;
}
 
.cta2613-accent2-bg {
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-primary2);
}
 
.cta2613-accent2-bg:hover {
  transform: scale3d(1.1,1.1,1.1);
}
 
.cta2613-accent1-bg {
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) skew(0deg, 0deg);
  align-items: center;
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent1);
}
 
.cta2613-container2 {
  width: var(--dl-layout-size-maxwidth);
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  transition: 0.3s;
  align-items: center;
}
 
.cta2613-container2:hover {
  color: var(--dl-color-theme-neutral-light);
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.cta2613-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.cta2613-video {
  width: 429px;
  height: 244px;
}
 
.cta2613-fragment1 {
  display: contents;
}
 
.cta2613-text3 {
  display: inline-block;
}
 
.cta2613-fragment2 {
  display: contents;
}
 
.cta2613-text4 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .cta2613-container2 {
    flex-direction: column;
    justify-content: flex-start;
  }
}
