.cta2616-container1 {
  height: 563px;
  padding-bottom: 42px;
}
 
.cta2616-accent2-bg {
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-layout-radius-radius8);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-primary2);
}
 
.cta2616-accent2-bg:hover {
  transform: scale3d(1.1,1.1,1.1);
}
 
.cta2616-accent1-bg {
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) skew(0deg, 0deg);
  align-items: center;
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent1);
}
 
.cta2616-container2 {
  width: var(--dl-layout-size-maxwidth);
  height: 400px;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-layout-radius-imageradius);
}
 
.cta2616-container2:hover {
  color: var(--dl-color-theme-neutral-light);
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.cta2616-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.cta2616-text1 {
  align-self: center;
}
 
.cta2616-text2 {
  text-align: center;
  font-family: "Inter";
}
 
.cta2616-video {
  width: 429px;
  height: 244px;
  padding-left: var(--dl-layout-space-oneandhalfunits);
}
 
.cta2616-fragment1 {
  display: contents;
}
 
.cta2616-text3 {
  display: inline-block;
}
 
.cta2616-fragment2 {
  display: contents;
}
 
.cta2616-text4 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .cta2616-container2 {
    flex-direction: column;
    justify-content: flex-start;
  }
}
