.cta31-container1 {
  width: 1144px;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
}
 
.cta31-max-width {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.cta31-container2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
@media(max-width: 991px) {
  .cta31-container2 {
    flex-direction: column;
  }
}
