.cta32-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.cta32-max-width {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.cta32-container2 {
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.cta32-placeholder-image {
  height: 100%;
  flex-grow: 1;
  max-height: 400px;
}
 
.cta32-column {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.cta32-text1 {
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.cta32-fragment1 {
  display: contents;
}
 
.cta32-text3 {
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  font-family: "Montserrat";
}
 
.cta32-fragment2 {
  display: contents;
}
 
.cta32-text4 {
  display: inline-block;
}
 
.cta32root-class-name1 {
  padding-top: 100px;
  padding-bottom: 100px;
}
 
@media(max-width: 991px) {
  .cta32-container2 {
    flex-direction: column;
  }
  .cta32-placeholder-image {
    width: 100%;
  }
}
