.gallery21-gallery3 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery21-max-width {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.gallery21-section-title {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.gallery21-text1 {
  width: 100%;
  text-align: center;
}
 
.gallery21-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.gallery21-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.gallery21-image1 {
  width: 100%;
  max-width: 600px;
  align-self: center;
}
 
.gallery21-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.gallery21-image2 {
  width: 100%;
  max-width: 600px;
  align-self: center;
}
 
.gallery21-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.gallery21-image31 {
  width: 100%;
  max-width: 600px;
}
 
.gallery21-container4 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.gallery21-image32 {
  width: 100%;
  max-width: 600px;
}
 
.gallery21-fragment {
  display: contents;
}
 
.gallery21-text2 {
  display: inline-block;
  font-size: 40px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
  text-transform: uppercase;
}
 
.gallery21-text5 {
  font-size: 31px;
}
 
.gallery21root-class-name {
  margin-top: -30px;
  margin-bottom: -30px;
}
 
@media(max-width: 991px) {
  .gallery21-content {
    align-items: center;
    flex-direction: column;
  }
  .gallery21-image1 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery21-image2 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery21-image31 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery21-image32 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
}
 
@media(max-width: 479px) {
  .gallery21-content {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
}
